.veiwSection.articles{
  display: flex;
  flex-direction: row;


  >.aricles__image{
    background-image: url("../images/buttons.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 50vw;
    height: 100vh;
  }
  >.aricles__topics{
    @include flexCenter(column, space-around);
    width: 50vw;

    >.singleTopic{
      font-size: 0.8rem;
      width: 30%;
      &:first-of-type{
        margin-top:15vh;
      }
    }
  }

  @media (max-width:762px){
    flex-direction: column;
    height: 100vh;
    >.aricles__image{
      width: 100%;
      order:2;
    }
    >.aricles__topics{
      width: 100vw;
      height: 100%;
      >.singleTopic{
        width: 70%;
       
      }
    }
  }
}