.veiwSection.articles{
  display: flex;
  flex-direction: row;


  >.aricles__image{
    background-image: url("../images/buttons.png");
    width: 50vw;
    height: 100vh;
  }
  >.aricles__topics{
    @include flexCenter(column, space-around);
    width: 50vw;

    >.singleTopic{
      font-size: 0.8rem;
      width: 30%;
      &:first-of-type{
        margin-top:15vh;
      }
    }
  }
}